Repository smartcontractkit/.github, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/devex, @smartcontractkit/devex-cicd, @smartcontractkit/data-analytics, @smartcontractkit/cl-orchestration, @smartcontractkit/data-applications

feat: cora support pull_request_review event
  actions/codeowners-review-analysis/dist/index.js
  actions/codeowners-review-analysis/scripts/test.sh
  actions/codeowners-review-analysis/src/run-inputs.ts
Owners: @smartcontractkit/devex

add changeset
  .changeset/three-beers-clap.md
Owners: @smartcontractkit/devex

fix: logging
  actions/codeowners-review-analysis/dist/index.js
  actions/codeowners-review-analysis/src/github-gql.ts
  actions/codeowners-review-analysis/src/run.ts
Owners: @smartcontractkit/devex

fix: add secondary input
  actions/codeowners-review-analysis/action.yml
  actions/codeowners-review-analysis/dist/index.js
  actions/codeowners-review-analysis/src/run-inputs.ts
  actions/codeowners-review-analysis/src/run.ts
Owners: @smartcontractkit/devex

Revert "fix: add secondary input"
  actions/codeowners-review-analysis/action.yml
  actions/codeowners-review-analysis/dist/index.js
  actions/codeowners-review-analysis/src/run-inputs.ts
  actions/codeowners-review-analysis/src/run.ts
Owners: @smartcontractkit/devex

Fix indentation
  actions/pr-quality-check/main.py
Owners: @smartcontractkit/data-analytics

changeset
  .changeset/purple-books-peel.md
Owners: @smartcontractkit/devex

Invalidate cache if the version changes
  actions/pr-quality-check/main.py
Owners: @smartcontractkit/data-analytics

apply some of copilot suggestions
  actions/pr-quality-check/main.py
Owners: @smartcontractkit/data-analytics

refactor
  actions/chip-config-register-schemas/action.yml
Owners: @smartcontractkit/data-applications

feat: cora pull request review event (#1227)
  .changeset/three-beers-clap.md
  actions/codeowners-review-analysis/dist/index.js
  actions/codeowners-review-analysis/scripts/test.sh
  actions/codeowners-review-analysis/src/github-gql.ts
  actions/codeowners-review-analysis/src/run-inputs.ts
  actions/codeowners-review-analysis/src/run.ts
Owners: @smartcontractkit/devex

.github/CODEOWNERS:

* @smartcontractkit/devex

/.github/workflows/reusable-docker-build-publish.yml @smartcontractkit/devex-cicd
/actions/dependency-review/ @smartcontractkit/devex-cicd
/actions/helm-version-bump-receiver/ @smartcontractkit/devex-cicd
/actions/helm-version-bump-sender/ @smartcontractkit/devex-cicd
/actions/oci-image-bump/ @smartcontractkit/devex-cicd
/actions/setup-github-token/ @smartcontractkit/devex-cicd
/actions/pr-quality-check/ @smartcontractkit/data-analytics

# CRIB and devenv
/actions/crib-*/** @smartcontractkit/cl-orchestration
/actions/devenv-*/** @smartcontractkit/cl-orchestration

# data-applications
/actions/chip-config-register-schemas/ @smartcontractkit/data-applications
