Repository smartcontractkit/.github, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/devex, @smartcontractkit/devex-cicd, @smartcontractkit/cl-orchestration

.github/CODEOWNERS:

* @smartcontractkit/devex

/.github/workflows/reusable-docker-build-publish.yml @smartcontractkit/devex-cicd
/actions/dependency-review/ @smartcontractkit/devex-cicd
/actions/helm-version-bump-receiver/ @smartcontractkit/devex-cicd
/actions/helm-version-bump-sender/ @smartcontractkit/devex-cicd
/actions/oci-image-bump/ @smartcontractkit/devex-cicd
/actions/setup-github-token/ @smartcontractkit/devex-cicd

# CRIB and devenv
/actions/crib-*/** @smartcontractkit/cl-orchestration
/actions/devenv-*/** @smartcontractkit/cl-orchestration

feat: add configurable timeout input to reusable docker build workflow
  .github/workflows/reusable-docker-build-publish.yml
Owners: @smartcontractkit/devex-cicd

Fixed code injections issues
  .changeset/wild-eggs-search.md
  actions/devenv-k8s-purge-ns/action.yml
  actions/devenv-k8s-setup-ns/action.yml
Owners: @smartcontractkit/devex, @smartcontractkit/cl-orchestration

Update wild-eggs-search.md
  .changeset/wild-eggs-search.md
Owners: @smartcontractkit/devex

Adding workflow for building Aptos image (#1170)
  .github/workflows/reusable-docker-build-publish.yml
Owners: @smartcontractkit/devex-cicd

Support optionally closing previous image bump PRs
  .changeset/long-ears-breathe.md
  actions/oci-image-bump/action.yml
  actions/oci-image-bump/scripts/oci-image-bump.sh
  actions/oci-image-bump/scripts/pr-closer.js
Owners: @smartcontractkit/devex, @smartcontractkit/devex-cicd

Fixed code injections issues (#1184)
  .changeset/wild-eggs-search.md
  actions/devenv-k8s-purge-ns/action.yml
  actions/devenv-k8s-setup-ns/action.yml
Owners: @smartcontractkit/devex, @smartcontractkit/cl-orchestration

feat(actions/pr-quality-check): add new action
  .changeset/purple-rings-push.md
  actions/pr-quality-check/README.md
  actions/pr-quality-check/action.yml
  actions/pr-quality-check/src/glob_match.py
Owners: @smartcontractkit/devex
