Repository smartcontractkit/.github, changes with the owners that CODEOWNERS names for each.
All owners: @smartcontractkit/releng, @smartcontractkit/devex-cicd, @smartcontractkit/devex-tooling, @smartcontractkit/test-tooling, @smartcontractkit/cl-orchestration

CODEOWNERS:

#TODO: remove test-tooling-team and releng after github team rename
* @smartcontractkit/releng @smartcontractkit/devex-cicd

# Chainlink Testing Framework (CTF)
/actions/ctf-*/** @smartcontractkit/devex-tooling  @smartcontractkit/test-tooling
/actions/crib-*/** @smartcontractkit/cl-orchestration
.github/workflows/run-e2e-tests.yml @smartcontractkit/devex-tooling  @smartcontractkit/test-tooling

add changeset
  .changeset/eight-donkeys-smoke.md
  actions/llm-pr-writer/action.yml
Owners: @smartcontractkit/releng, @smartcontractkit/devex-cicd

Adding private ECR pull for g++ for run tests setup (#951)
  .changeset/tidy-kiwis-wonder.md
  actions/ctf-setup-run-tests-environment/action.yml
Owners: @smartcontractkit/releng, @smartcontractkit/devex-cicd, @smartcontractkit/devex-tooling, @smartcontractkit/test-tooling

dont proceed if no failures from fg nightly
  actions/flakeguard-ai-analysis/main.py
Owners: @smartcontractkit/releng, @smartcontractkit/devex-cicd

Depend on in-memory tests
  .github/workflows/run-e2e-tests.yml
Owners: @smartcontractkit/devex-tooling, @smartcontractkit/test-tooling

add changeset
  .changeset/red-moose-wink.md
Owners: @smartcontractkit/releng, @smartcontractkit/devex-cicd

dont proceed if no failures from fg nightly (#955)
  .changeset/red-moose-wink.md
  actions/flakeguard-ai-analysis/main.py
Owners: @smartcontractkit/releng, @smartcontractkit/devex-cicd

chore: upgrade to pnpm 10 (#945)
  .github/workflows/pull-request-main.yml
  .github/workflows/push-main.yml
  .tool-versions
  actions/signed-commits/README.md
  apps/actions-dependencies-updater/package.json
  apps/go-conditional-tests/package.json
  apps/go-mod-validator/package.json
  libs/jira-tracing/package.json
  package.json
Owners: @smartcontractkit/releng, @smartcontractkit/devex-cicd

Prettier
  .github/workflows/run-e2e-tests.yml
  package.json
Owners: @smartcontractkit/devex-tooling, @smartcontractkit/test-tooling, @smartcontractkit/releng, @smartcontractkit/devex-cicd

Adding g++ to run on ctf run tests
  .changeset/gorgeous-olives-search.md
  actions/ctf-run-tests/action.yml
Owners: @smartcontractkit/releng, @smartcontractkit/devex-cicd, @smartcontractkit/devex-tooling, @smartcontractkit/test-tooling

Formatting
  actions/ctf-run-tests/action.yml
Owners: @smartcontractkit/devex-tooling, @smartcontractkit/test-tooling

Adding g++ to run on ctf run tests (#956)
  .changeset/gorgeous-olives-search.md
  actions/ctf-run-tests/action.yml
Owners: @smartcontractkit/releng, @smartcontractkit/devex-cicd, @smartcontractkit/devex-tooling, @smartcontractkit/test-tooling

[DX-232] Consolidate Test workflows (#944)
  .github/workflows/run-e2e-tests.yml
  .github/workflows/run-integration-tests.yml
Owners: @smartcontractkit/devex-tooling, @smartcontractkit/test-tooling, @smartcontractkit/releng, @smartcontractkit/devex-cicd

fix: pnpm10 solidity-review-artifacts
  .github/workflows/solidity-review-artifacts.yml
Owners: @smartcontractkit/releng, @smartcontractkit/devex-cicd

fix: pnpm10 solidity-review-artifacts (#958)
  .github/workflows/solidity-review-artifacts.yml
Owners: @smartcontractkit/releng, @smartcontractkit/devex-cicd
